<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

</head>

<style>



</style>
<body>
<div class="container" align="center">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Segmented Image</h1>
        </div>
        <hr>
        <img src="data:image/png;base64, {{ plot_url }}">

        <div class="col-lg-12">
            <h1 class="page-header">Segmentation Label</h1>
        </div>
        {% for i in labels %}
            <div class=flash >{{ i }}</div>
        {% endfor %}
        <hr>
        
    </div>
</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous">
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "resultTR.txt",
                dataType: "text",
                success: function(data) {processData(data);}
             });
        });

        function processData(allText) {
            var allTextLines = allText.split(/\r\n|\n/);
            var headers = allTextLines[0].split(',');
            var lines = [];

            for (var i=1; i<allTextLines.length; i++) {
                var data = allTextLines[i].split(',');
                if (data.length == headers.length) {

                    var tarr = [];
                    for (var j=0; j<headers.length; j++) {
                        tarr.push(headers[j]+":"+data[j]);
                    }
                    lines.push(tarr);
                }
            }
    // alert(lines);
}
}
        </script>
</html>